<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div id="contenitore">
            <div id="display">
                <div id="left">
                    <div class="dim color">
                        <div class="userpic">

                        </div>
                    </div>
                    <div class="dim"></div>
                    <div id="dim2"></div>
                    <div class="dim3">
                        <div class="chat over" v-for="(contact, index) in contacts"
                        :class="(index === activeContact) ? 'contact active' : 'contact'"
                        @click="setActiveConversation(index)">
                           <div class="userpic">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                           
                           </div>
                           <div class="info">
                               <span>{{contact.name}}</span> <br>
                               <span class="lastmsg">Ultimo messaggio inviato</span>
                           </div>  
                           <div class="ora">
                            <span class="lastmsg">12:00</span>
                           </div>
                        </div>
                    </div>
                </div>
                <div id="right">
                  <div id="topbar">
                    <div class="userpic">
                        <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" :alt="contacts[activeContact].name">
                    </div>
                    <div class="userid">
                        <span>{{contacts[activeContact].name}}</span> <br>
                        <span class="lastmsg">ultimo accesso alle 12:00</span>
                    </div>
                  </div>
                  <div id="center">
                    <div class="message" 
                    v-for="(message, index) in contacts[activeContact].messages"
                    :class="(message.status === 'sent') ? 'sent' : 'received'">
                        <span class="message">{{message.message}}</span>
                    </div>
                  </div>
                  <div id="footerbar">

                  </div>
                </div>
            </div>
            <div id="b_1"></div>
            <div id="b_2"></div>
            
        </div>
    </div>
    





    <script src="main.js"></script>
</body>
</html>